<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="com.servoy.eclipse.servoypilot.target" sequenceNumber="60">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/releases/2025-12"/>
            <unit id="org.eclipse.sdk.feature.group" version="4.38.0.v20251201-1407"/>
            <unit id="org.eclipse.jgit.feature.group" version="7.5.0.202512021534-r"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/release/4.38.0"/>
            <unit id="org.eclipse.orbit.maven.xerces.feature.group" version="4.38.0"/>
        </location>
        <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
            <dependencies>
                <dependency>
                    <groupId>com.fasterxml.jackson.core</groupId>
                    <artifactId>jackson-annotations</artifactId>
                    <version>2.20</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.fasterxml.jackson.core</groupId>
                    <artifactId>jackson-core</artifactId>
                    <version>2.20.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.fasterxml.jackson.core</groupId>
                    <artifactId>jackson-databind</artifactId>
                    <version>2.20.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.fasterxml.jackson.dataformat</groupId>
                    <artifactId>jackson-dataformat-yaml</artifactId>
                    <version>2.20.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.google.guava</groupId>
                    <artifactId>failureaccess</artifactId>
                    <version>1.0.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.google.guava</groupId>
                    <artifactId>guava</artifactId>
                    <version>33.5.0-jre</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-lang3</artifactId>
                    <version>3.20.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-text</artifactId>
                    <version>1.15.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.pdfbox</groupId>
                    <artifactId>fontbox</artifactId>
                    <version>3.0.6</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.pdfbox</groupId>
                    <artifactId>pdfbox-io</artifactId>
                    <version>3.0.6</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.pdfbox</groupId>
                    <artifactId>pdfbox</artifactId>
                    <version>3.0.6</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.tika</groupId>
                    <artifactId>tika-core</artifactId>
                    <version>3.2.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.tika</groupId>
                    <artifactId>tika-parser-text-module</artifactId>
                    <version>3.2.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.slf4j</groupId>
                    <artifactId>slf4j-api</artifactId>
                    <version>2.0.17</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.yaml</groupId>
                    <artifactId>snakeyaml</artifactId>
                    <version>2.5</version>
                    <type>jar</type>
                </dependency>
            </dependencies>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                </repository>
            </repositories>
        </location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
</target>