<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.servoy.eclipse.servoypilot.chatview.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.servoy.eclipse.ui.preference"
            class="com.servoy.eclipse.servoypilot.preferences.ServoyPilotPreferencePage"
            id="com.servoy.eclipse.servoypilot.preferences"
            name="Servoy AI Pilot">
      </page>
   </extension>
   <extension
         id="AICompletionProposalComputer"
         name="AI Proposals"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            categoryId="com.servoy.eclipse.servoypilot.aiProposalCategory"
            class="com.servoy.eclipse.servoypilot.completion.AICompletionProposalComputer"
            toolkitId="org.eclipse.dltk.javascript.core.nature">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>

<extension
      id="aiProposalCategory"
      name="Servoy AI Proposals"
      point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
   <proposalCategory></proposalCategory>
</extension>
</plugin>
