<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<booleanAttribute key="default" value="false"/>
<setAttribute key="deselected_workspace_bundles">
    <setEntry value="com.servoy.eclipse.jre.linux.x86_64"/>
    <setEntry value="com.servoy.eclipse.jre.macosx.aarch64"/>
    <setEntry value="com.servoy.eclipse.jre.win32.x86_64"/>
    <setEntry value="com.servoy.eclipse.nodejs.linux.gtk.x86_64"/>
    <setEntry value="com.servoy.eclipse.nodejs.macosx.cocoa.x86_64"/>
    <setEntry value="com.servoy.eclipse.nodejs.win32.win32.x86_64"/>
</setAttribute>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.servoy.eclipse.developer.mcp/test/com/servoy/eclipse/developer/mcp/AllDeveloperMcpTests.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=com.servoy.eclipse.developer.mcp/test&lt;com.servoy.eclipse.developer.mcp{AllDeveloperMcpTests.java"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.servoy.eclipse.developer.mcp.AllDeveloperMcpTests"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.servoy.eclipse.developer.mcp"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms128m -Xmx512m -ea --add-exports=java.base/sun.security.x509=ALL-UNNAMED -Dorg.osgi.framework.system.packages.extra=sun.security.x509"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="run_in_ui_thread" value="false"/>
<setAttribute key="selected_target_bundles">
    <setEntry value="aQute.libg@default:default"/>
    <setEntry value="bcpg*1.83.0@default:default"/>
    <setEntry value="bcpg*1.84.0@default:default"/>
    <setEntry value="bcpkix*1.83.0@default:default"/>
    <setEntry value="bcpkix*1.84.0@default:default"/>
    <setEntry value="bcprov*1.83.0@default:default"/>
    <setEntry value="bcprov*1.84.0@default:default"/>
    <setEntry value="bcutil*1.83.0@default:default"/>
    <setEntry value="bcutil*1.84.0@default:default"/>
    <setEntry value="biz.aQute.bnd.util@default:default"/>
    <setEntry value="biz.aQute.bndlib@default:default"/>
    <setEntry value="biz.aQute.repository@default:default"/>
    <setEntry value="biz.aQute.resolve@default:default"/>
    <setEntry value="bndtools.api@default:default"/>
    <setEntry value="com.equo.chromium*138.0.12@default:default"/>
    <setEntry value="com.equo.chromium.cef.cocoa.macosx.aarch64*138.0.10@default:false"/>
    <setEntry value="com.fasterxml.classmate@default:default"/>
    <setEntry value="com.fasterxml.jackson.core.jackson-annotations*2.21.0@default:default"/>
    <setEntry value="com.fasterxml.jackson.core.jackson-core*2.21.2@default:default"/>
    <setEntry value="com.fasterxml.jackson.core.jackson-databind*2.21.2@default:default"/>
    <setEntry value="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml*2.21.2@default:default"/>
    <setEntry value="com.github.scribejava.apis@default:default"/>
    <setEntry value="com.github.scribejava.core@default:default"/>
    <setEntry value="com.github.scribejava.java8@default:default"/>
    <setEntry value="com.github.ua-parser.uap-java*1.6.1.SERVOY@default:default"/>
    <setEntry value="com.github.weisj.jsvg@default:default"/>
    <setEntry value="com.google.gson*2.14.0@default:default"/>
    <setEntry value="com.google.guava*32.1.3.jre@default:default"/>
    <setEntry value="com.google.guava*33.6.0.jre@default:default"/>
    <setEntry value="com.google.guava.failureaccess*1.0.3@default:default"/>
    <setEntry value="com.google.javascript*0.0.20260422.v20260424-1000@default:default"/>
    <setEntry value="com.googlecode.javaewah.JavaEWAH@default:default"/>
    <setEntry value="com.ibm.icu*78.3.0@default:default"/>
    <setEntry value="com.jcraft.jsch@default:default"/>
    <setEntry value="com.sun.activation.jakarta.activation@default:default"/>
    <setEntry value="com.sun.el.javax.el@default:default"/>
    <setEntry value="com.sun.jna*5.18.1.v20251001-0800@default:default"/>
    <setEntry value="com.sun.jna.platform*5.18.1@default:default"/>
    <setEntry value="com.sun.mail.jakarta.mail@default:default"/>
    <setEntry value="de.inetsoftware.jlessc*1.14.0.s2@default:default"/>
    <setEntry value="io.smallrye.jandex*3.5.3@default:default"/>
    <setEntry value="jabsorb*1.3.3.s1@default:default"/>
    <setEntry value="jakarta.activation-api@default:default"/>
    <setEntry value="jakarta.annotation-api*2.1.1@default:default"/>
    <setEntry value="jakarta.annotation-api*3.0.0@default:default"/>
    <setEntry value="jakarta.el-api@default:default"/>
    <setEntry value="jakarta.el@default:default"/>
    <setEntry value="jakarta.inject.jakarta.inject-api*1.0.5@default:default"/>
    <setEntry value="jakarta.inject.jakarta.inject-api*2.0.1@default:default"/>
    <setEntry value="jakarta.mail-api@default:default"/>
    <setEntry value="jakarta.servlet-api@default:default"/>
    <setEntry value="jakarta.servlet.jsp-api@default:default"/>
    <setEntry value="jakarta.servlet.jsp@default:default"/>
    <setEntry value="jakarta.servlet@default:default"/>
    <setEntry value="jakarta.websocket-api@default:default"/>
    <setEntry value="jakarta.websocket-client-api@default:default"/>
    <setEntry value="jakarta.xml.bind-api*2.3.3@default:default"/>
    <setEntry value="jakarta.xml.bind-api*4.0.5@default:default"/>
    <setEntry value="javax.activation@default:default"/>
    <setEntry value="javax.mail@default:default"/>
    <setEntry value="javax.persistence-api@default:default"/>
    <setEntry value="javax.transaction@default:default"/>
    <setEntry value="javax.wsdl@default:default"/>
    <setEntry value="javax.xml.rpc@default:default"/>
    <setEntry value="javax.xml.soap@default:default"/>
    <setEntry value="javax.xml@default:default"/>
    <setEntry value="jaxb-api@default:default"/>
    <setEntry value="junit-jupiter-api*5.14.3@default:default"/>
    <setEntry value="junit-jupiter-engine*5.14.3@default:default"/>
    <setEntry value="junit-jupiter-migrationsupport*5.14.3@default:default"/>
    <setEntry value="junit-jupiter-params*5.14.3@default:default"/>
    <setEntry value="junit-platform-commons*1.14.3@default:default"/>
    <setEntry value="junit-platform-commons*6.0.3@default:default"/>
    <setEntry value="junit-platform-engine*1.14.3@default:default"/>
    <setEntry value="junit-platform-engine*6.0.3@default:default"/>
    <setEntry value="junit-platform-launcher*1.14.3@default:default"/>
    <setEntry value="junit-platform-launcher*6.0.3@default:default"/>
    <setEntry value="junit-platform-runner*1.14.3@default:default"/>
    <setEntry value="junit-platform-suite-api*1.14.3@default:default"/>
    <setEntry value="junit-platform-suite-commons*1.14.3@default:default"/>
    <setEntry value="junit-platform-suite-engine*1.14.3@default:default"/>
    <setEntry value="junit-vintage-engine*5.14.3@default:default"/>
    <setEntry value="net.bytebuddy.byte-buddy*1.18.8@default:default"/>
    <setEntry value="net.i2p.crypto.eddsa@default:default"/>
    <setEntry value="net.sourceforge.sqlexplorer.help@default:default"/>
    <setEntry value="net.sourceforge.sqlexplorer@default:default"/>
    <setEntry value="onnx-models-bge-small-en@default:default"/>
    <setEntry value="onnxruntime-extensions.macosx.aarch64@default:default"/>
    <setEntry value="org.antlr.antlr4-runtime@default:default"/>
    <setEntry value="org.antlr.runtime@default:default"/>
    <setEntry value="org.apache.ant*1.10.15.v20240901-1000@default:default"/>
    <setEntry value="org.apache.aries.spifly.dynamic.bundle@3:true"/>
    <setEntry value="org.apache.axis@default:default"/>
    <setEntry value="org.apache.batik.constants*1.19.0.v20250506-1400@default:default"/>
    <setEntry value="org.apache.batik.css*1.19.0.v20250506-1400@default:default"/>
    <setEntry value="org.apache.batik.i18n*1.19.0.v20250506-1400@default:default"/>
    <setEntry value="org.apache.batik.util*1.19.0.v20250506-1400@default:default"/>
    <setEntry value="org.apache.commons.commons-codec*1.21.0@default:default"/>
    <setEntry value="org.apache.commons.commons-codec*1.22.0@default:default"/>
    <setEntry value="org.apache.commons.commons-collections4@default:default"/>
    <setEntry value="org.apache.commons.commons-compress@default:default"/>
    <setEntry value="org.apache.commons.commons-dbcp2*2.14.0@default:default"/>
    <setEntry value="org.apache.commons.commons-fileupload2-core@default:default"/>
    <setEntry value="org.apache.commons.commons-fileupload2-jakarta-servlet6@default:default"/>
    <setEntry value="org.apache.commons.commons-fileupload@default:default"/>
    <setEntry value="org.apache.commons.commons-io*2.22.0@default:default"/>
    <setEntry value="org.apache.commons.commons-logging*1.3.6@default:default"/>
    <setEntry value="org.apache.commons.commons-pool2@default:default"/>
    <setEntry value="org.apache.commons.discovery@default:default"/>
    <setEntry value="org.apache.commons.lang3@default:default"/>
    <setEntry value="org.apache.commons.logging*1.2.0@default:default"/>
    <setEntry value="org.apache.commons.text@default:default"/>
    <setEntry value="org.apache.felix.gogo.command@default:default"/>
    <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
    <setEntry value="org.apache.felix.gogo.shell@default:default"/>
    <setEntry value="org.apache.felix.scr*2.2.18@1:true"/>
    <setEntry value="org.apache.httpcomponents.client5.httpclient5*5.6.1.v20260420-1000@default:default"/>
    <setEntry value="org.apache.httpcomponents.core5.httpcore5*5.4.2.v20260306-1000@default:default"/>
    <setEntry value="org.apache.httpcomponents.core5.httpcore5-h2*5.4.2.v20260306-1000@default:default"/>
    <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
    <setEntry value="org.apache.httpcomponents.httpcore*4.4.16.v20221207-1049@default:default"/>
    <setEntry value="org.apache.james.apache-mime4j@default:default"/>
    <setEntry value="org.apache.logging.log4j.api@3:true"/>
    <setEntry value="org.apache.logging.log4j.core@3:true"/>
    <setEntry value="org.apache.logging.log4j.jakarta.web@default:false"/>
    <setEntry value="org.apache.logging.log4j.slf4j2.impl@default:default"/>
    <setEntry value="org.apache.lucene.analysis-common*10.4.0.v20260226-1000@default:default"/>
    <setEntry value="org.apache.lucene.analysis-smartcn*10.4.0.v20260226-1000@default:default"/>
    <setEntry value="org.apache.lucene.core*10.4.0.v20260226-1000@default:default"/>
    <setEntry value="org.apache.pdfbox.fontbox@default:default"/>
    <setEntry value="org.apache.pdfbox.io@default:default"/>
    <setEntry value="org.apache.sshd.osgi*2.11.0@default:default"/>
    <setEntry value="org.apache.sshd.osgi*2.16.0@default:default"/>
    <setEntry value="org.apache.sshd.sftp*2.11.0@default:default"/>
    <setEntry value="org.apache.sshd.sftp*2.16.0@default:default"/>
    <setEntry value="org.apache.tika.core@default:default"/>
    <setEntry value="org.apache.wsil4j@default:default"/>
    <setEntry value="org.apache.xerces@default:default"/>
    <setEntry value="org.apache.xml.resolver@default:default"/>
    <setEntry value="org.apache.xml.serializer@default:default"/>
    <setEntry value="org.apache.xmlgraphics*2.11.0.v20250506-1400@default:default"/>
    <setEntry value="org.apiguardian.api@default:default"/>
    <setEntry value="org.bndtools.headless.build.manager@default:default"/>
    <setEntry value="org.bndtools.headless.build.plugin.gradle@default:default"/>
    <setEntry value="org.bndtools.templating@default:default"/>
    <setEntry value="org.bndtools.versioncontrol.ignores.manager@default:default"/>
    <setEntry value="org.bndtools.versioncontrol.ignores.plugin.git@default:default"/>
    <setEntry value="org.commonmark.ext-gfm-tables@default:default"/>
    <setEntry value="org.commonmark@default:default"/>
    <setEntry value="org.eclipse.ant.core*3.7.700.v20250609-0415@default:default"/>
    <setEntry value="org.eclipse.ant.launching*1.4.900.v20251112-1253@default:default"/>
    <setEntry value="org.eclipse.ant.ui*3.10.300.v20251030-0647@default:default"/>
    <setEntry value="org.eclipse.collections.api@default:default"/>
    <setEntry value="org.eclipse.collections.impl@default:default"/>
    <setEntry value="org.eclipse.compare*3.11.600.v20251105-1253@default:default"/>
    <setEntry value="org.eclipse.compare.core*3.8.800.v20250718-1505@default:default"/>
    <setEntry value="org.eclipse.core.commands*3.12.500.v20251103-0733@default:default"/>
    <setEntry value="org.eclipse.core.contenttype*3.9.800.v20251105-1620@default:default"/>
    <setEntry value="org.eclipse.core.databinding*1.13.700.v20251023-1511@default:default"/>
    <setEntry value="org.eclipse.core.databinding.beans*1.10.500.v20250916-0941@default:default"/>
    <setEntry value="org.eclipse.core.databinding.observable*1.13.500.v20251103-0735@default:default"/>
    <setEntry value="org.eclipse.core.databinding.property*1.10.500.v20250916-0931@default:default"/>
    <setEntry value="org.eclipse.core.expressions*3.9.500.v20250608-0434@default:default"/>
    <setEntry value="org.eclipse.core.externaltools*1.3.500.v20250609-0415@default:default"/>
    <setEntry value="org.eclipse.core.filebuffers*3.8.500.v20251103-0746@default:default"/>
    <setEntry value="org.eclipse.core.filesystem*1.11.400.v20251107-0507@default:default"/>
    <setEntry value="org.eclipse.core.filesystem.macosx@default:false"/>
    <setEntry value="org.eclipse.core.jobs*3.15.700.v20250725-1147@default:default"/>
    <setEntry value="org.eclipse.core.net*1.5.800.v20250613-1119@default:default"/>
    <setEntry value="org.eclipse.core.resources*3.23.100.v20251106-1705@default:default"/>
    <setEntry value="org.eclipse.core.runtime*3.34.100.v20251111-1421@default:true"/>
    <setEntry value="org.eclipse.core.variables*3.6.700.v20250913-1442@default:default"/>
    <setEntry value="org.eclipse.debug.core*3.23.200.v20251107-0507@default:default"/>
    <setEntry value="org.eclipse.debug.ui*3.19.100.v20251114-0802@default:default"/>
    <setEntry value="org.eclipse.debug.ui.launchview*1.1.900.v20250607-0654@default:default"/>
    <setEntry value="org.eclipse.draw2d*3.21.0.202512020742@default:default"/>
    <setEntry value="org.eclipse.e4.core.commands*1.1.700.v20250916-0927@default:default"/>
    <setEntry value="org.eclipse.e4.core.contexts*1.13.200.v20250609-0437@default:default"/>
    <setEntry value="org.eclipse.e4.core.di*1.9.700.v20250609-0907@default:default"/>
    <setEntry value="org.eclipse.e4.core.di.annotations*1.8.400.v20240413-1529@default:default"/>
    <setEntry value="org.eclipse.e4.core.di.extensions*0.18.300.v20240413-1529@default:default"/>
    <setEntry value="org.eclipse.e4.core.di.extensions.supplier*0.17.900.v20250609-0432@default:default"/>
    <setEntry value="org.eclipse.e4.core.services*2.5.300.v20251112-1253@default:default"/>
    <setEntry value="org.eclipse.e4.emf.xpath*0.6.100.v20251103-0738@default:default"/>
    <setEntry value="org.eclipse.e4.tools.emf.ui@default:default"/>
    <setEntry value="org.eclipse.e4.tools.services@default:default"/>
    <setEntry value="org.eclipse.e4.ui.bindings*0.14.800.v20250916-0937@default:default"/>
    <setEntry value="org.eclipse.e4.ui.css.core*0.14.600.v20251112-0859@default:default"/>
    <setEntry value="org.eclipse.e4.ui.css.swt*0.15.700.v20251023-1511@default:default"/>
    <setEntry value="org.eclipse.e4.ui.css.swt.theme*0.14.600.v20251023-0615@default:default"/>
    <setEntry value="org.eclipse.e4.ui.di*1.5.700.v20250917-0901@default:default"/>
    <setEntry value="org.eclipse.e4.ui.dialogs*1.6.200.v20250917-0721@default:default"/>
    <setEntry value="org.eclipse.e4.ui.ide*3.17.300.v20250917-0547@default:default"/>
    <setEntry value="org.eclipse.e4.ui.model.workbench*2.4.700.v20251029-0840@default:default"/>
    <setEntry value="org.eclipse.e4.ui.progress*0.4.900.v20251023-1511@default:default"/>
    <setEntry value="org.eclipse.e4.ui.services*1.6.600.v20251023-1358@default:default"/>
    <setEntry value="org.eclipse.e4.ui.widgets*1.4.300.v20251002-1328@default:default"/>
    <setEntry value="org.eclipse.e4.ui.workbench*1.18.100.v20251023-1358@default:default"/>
    <setEntry value="org.eclipse.e4.ui.workbench.addons.swt*1.5.900.v20251007-0832@default:default"/>
    <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt*0.16.1000.v20251114-0005@default:default"/>
    <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt.cocoa*0.14.500.v20250917-1058@default:false"/>
    <setEntry value="org.eclipse.e4.ui.workbench.swt*0.17.1000.v20251023-0611@default:default"/>
    <setEntry value="org.eclipse.e4.ui.workbench3*0.17.600.v20250918-0518@default:default"/>
    <setEntry value="org.eclipse.ecf*3.13.0.v20250304-2338@default:default"/>
    <setEntry value="org.eclipse.ecf.filetransfer@default:default"/>
    <setEntry value="org.eclipse.ecf.identity*3.10.0.v20240812-1535@default:default"/>
    <setEntry value="org.eclipse.ecf.provider.filetransfer*3.3.100.v20250115-0406@default:default"/>
    <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient5*1.1.101.v20250818-1641@default:default"/>
    <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl@default:false"/>
    <setEntry value="org.eclipse.ecf.ssl@default:false"/>
    <setEntry value="org.eclipse.egit*7.5.0.202512021534-r@default:default"/>
    <setEntry value="org.eclipse.egit.core*7.5.0.202512021534-r@default:default"/>
    <setEntry value="org.eclipse.egit.doc*7.5.0.202512021534-r@default:default"/>
    <setEntry value="org.eclipse.egit.ui*7.5.0.202512021534-r@default:default"/>
    <setEntry value="org.eclipse.emf.common*2.44.0.v20251025-0946@default:default"/>
    <setEntry value="org.eclipse.emf.common.ui*2.26.0.v20251106-1447@default:default"/>
    <setEntry value="org.eclipse.emf.ecore*2.41.0.v20251025-0946@default:default"/>
    <setEntry value="org.eclipse.emf.ecore.change*2.17.0.v20250910-1205@default:default"/>
    <setEntry value="org.eclipse.emf.ecore.xmi*2.39.0.v20250910-1205@default:default"/>
    <setEntry value="org.eclipse.emf.edit*2.23.0.v20250910-1205@default:default"/>
    <setEntry value="org.eclipse.emf.edit.ui*2.26.0.v20250910-1205@default:default"/>
    <setEntry value="org.eclipse.equinox.app*1.7.500.v20250629-0337@default:default"/>
    <setEntry value="org.eclipse.equinox.bidi*1.5.400.v20250715-0436@default:default"/>
    <setEntry value="org.eclipse.equinox.common*3.20.300.v20251111-0312@2:true"/>
    <setEntry value="org.eclipse.equinox.concurrent*1.3.400.v20250715-0436@default:default"/>
    <setEntry value="org.eclipse.equinox.console*1.4.1100.v20250722-0745@default:default"/>
    <setEntry value="org.eclipse.equinox.event*1.7.300.v20250518-0609@default:default"/>
    <setEntry value="org.eclipse.equinox.frameworkadmin*2.3.500.v20250716-0529@default:default"/>
    <setEntry value="org.eclipse.equinox.frameworkadmin.equinox*1.3.400.v20250515-0513@default:default"/>
    <setEntry value="org.eclipse.equinox.http.jetty*3.9.600.v20251031-0358@default:default"/>
    <setEntry value="org.eclipse.equinox.http.registry*1.4.400.v20250611-0943@default:default"/>
    <setEntry value="org.eclipse.equinox.http.service.api@default:default"/>
    <setEntry value="org.eclipse.equinox.http.servlet*1.8.600.v20251111-0344@default:default"/>
    <setEntry value="org.eclipse.equinox.jsp.jasper*1.2.400.v20250720-1532@default:default"/>
    <setEntry value="org.eclipse.equinox.jsp.jasper.registry*1.3.300.v20250807-0756@default:default"/>
    <setEntry value="org.eclipse.equinox.launcher*1.7.100.v20251111-0406@default:default"/>
    <setEntry value="org.eclipse.equinox.launcher.cocoa.macosx.aarch64*1.2.1400.v20250801-0854@default:false"/>
    <setEntry value="org.eclipse.equinox.p2.artifact.repository*1.5.800.v20250620-1926@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.console*1.3.700.v20250515-0507@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.core*2.13.200.v20251111-1620@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.director*2.6.800.v20250714-1236@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.director.app*1.3.800.v20250720-1057@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.directorywatcher*1.4.800.v20250922-0444@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.engine*2.11.0.v20251111-1028@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.extensionlocation*1.5.700.v20250720-1526@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.garbagecollector*1.3.700.v20250715-0459@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.jarprocessor*1.3.600.v20250517-0338@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.metadata*2.9.600.v20251108-0408@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.metadata.repository*1.5.700.v20250720-0955@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.operations*2.7.700.v20250720-1530@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.publisher*1.9.600.v20250720-0951@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.publisher.eclipse*1.6.700.v20251107-1554@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.reconciler.dropins*1.5.800.v20251111-0852@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.repository*2.9.600.v20251118-0500@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.repository.tools*2.4.900.v20251108-0407@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse*2.4.600.v20250722-0413@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.touchpoint.natives*1.5.800.v20251111-0726@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.transport.ecf*1.4.600.v20251124-1504@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.ui*2.8.1000.v20251111-1030@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.ui.importexport*1.4.900.v20251111-0726@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.ui.sdk*1.3.500.v20250521-0421@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.ui.sdk.scheduler*1.6.600.v20251111-1040@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.updatechecker*1.4.600.v20250728-0401@default:default"/>
    <setEntry value="org.eclipse.equinox.p2.updatesite*1.3.800.v20250606-0550@default:default"/>
    <setEntry value="org.eclipse.equinox.preferences*3.12.100.v20251111-0704@default:default"/>
    <setEntry value="org.eclipse.equinox.registry*3.12.600.v20250906-0651@default:default"/>
    <setEntry value="org.eclipse.equinox.security*1.4.700.v20250622-1644@default:default"/>
    <setEntry value="org.eclipse.equinox.security.macosx*1.102.500.v20250521-0414@default:false"/>
    <setEntry value="org.eclipse.equinox.security.ui*1.4.700.v20251111-0659@default:default"/>
    <setEntry value="org.eclipse.equinox.simpleconfigurator*1.5.700.v20251111-1031@1:true"/>
    <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator*2.3.600.v20250729-0655@default:default"/>
    <setEntry value="org.eclipse.gef*3.24.0.202511201732@default:default"/>
    <setEntry value="org.eclipse.help*3.10.600.v20250613-0437@default:default"/>
    <setEntry value="org.eclipse.help.base*4.5.300.v20251201-0920@default:default"/>
    <setEntry value="org.eclipse.help.ui*4.8.200.v20250707-1559@default:default"/>
    <setEntry value="org.eclipse.help.webapp*3.12.300.v20250831-0955@default:default"/>
    <setEntry value="org.eclipse.jdt*3.19.1100.v20251201-0920@default:default"/>
    <setEntry value="org.eclipse.jdt.annotation*2.4.100.v20251017-1955@default:default"/>
    <setEntry value="org.eclipse.jdt.apt.core*3.8.600.v20241001-0914@default:default"/>
    <setEntry value="org.eclipse.jdt.apt.pluggable.core*1.4.600.v20241001-0914@default:default"/>
    <setEntry value="org.eclipse.jdt.apt.ui*3.8.700.v20250319-0715@default:default"/>
    <setEntry value="org.eclipse.jdt.core*3.44.0.v20251118-1842@default:default"/>
    <setEntry value="org.eclipse.jdt.core.compiler.batch*3.44.0.v20251118-1623@default:default"/>
    <setEntry value="org.eclipse.jdt.core.formatterapp*1.2.300.v20241001-0914@default:default"/>
    <setEntry value="org.eclipse.jdt.core.manipulation*1.23.200.v20251125-1647@default:default"/>
    <setEntry value="org.eclipse.jdt.debug*3.25.0.v20251031-2243@default:default"/>
    <setEntry value="org.eclipse.jdt.debug.ui*3.15.200.v20251112-0612@default:default"/>
    <setEntry value="org.eclipse.jdt.junit*3.17.300.v20251107-1918@default:default"/>
    <setEntry value="org.eclipse.jdt.junit.core*3.14.0.v20251201-1407@default:default"/>
    <setEntry value="org.eclipse.jdt.junit.runtime*3.8.0.v20251113-1434@default:default"/>
    <setEntry value="org.eclipse.jdt.junit4.runtime*1.4.0.v20251113-1434@default:default"/>
    <setEntry value="org.eclipse.jdt.junit5.runtime*1.2.0.v20251113-1434@default:default"/>
    <setEntry value="org.eclipse.jdt.launching*3.24.0.v20251031-2243@default:default"/>
    <setEntry value="org.eclipse.jdt.ui*3.36.0.v20251114-2328@default:default"/>
    <setEntry value="org.eclipse.jface.text*3.29.0.v20251112-0859@default:default"/>
    <setEntry value="org.eclipse.jgit.archive@default:default"/>
    <setEntry value="org.eclipse.jgit.http.apache@default:default"/>
    <setEntry value="org.eclipse.jgit.lfs.server@default:default"/>
    <setEntry value="org.eclipse.jgit.lfs@default:default"/>
    <setEntry value="org.eclipse.jgit.ssh.apache@default:default"/>
    <setEntry value="org.eclipse.jgit@default:default"/>
    <setEntry value="org.eclipse.jsch.core*1.5.700.v20250723-0831@default:default"/>
    <setEntry value="org.eclipse.jsch.ui*1.5.700.v20250723-0831@default:default"/>
    <setEntry value="org.eclipse.ltk.core.refactoring*3.15.100.v20251023-1358@default:default"/>
    <setEntry value="org.eclipse.ltk.ui.refactoring*3.13.700.v20251103-0737@default:default"/>
    <setEntry value="org.eclipse.nebula.cwt*1.1.0.202601240135@default:default"/>
    <setEntry value="org.eclipse.nebula.widgets.cdatetime*1.5.1.202601240135@default:default"/>
    <setEntry value="org.eclipse.nebula.widgets.nattable.core*2.6.0.202509190702@default:default"/>
    <setEntry value="org.eclipse.nebula.widgets.nattable.extension.e4*2.6.0.202509190702@default:default"/>
    <setEntry value="org.eclipse.nebula.widgets.nattable.extension.nebula*2.6.0.202509190702@default:default"/>
    <setEntry value="org.eclipse.nebula.widgets.richtext*1.6.0.202509131601@default:default"/>
    <setEntry value="org.eclipse.orbit.xml-apis-ext*1.0.0.v20240917-0534@default:default"/>
    <setEntry value="org.eclipse.osgi*3.24.0.v20251126-0427@1:true"/>
    <setEntry value="org.eclipse.osgi.compatibility.state*1.3.0.v20251022-1724@default:false"/>
    <setEntry value="org.eclipse.osgi.services@default:default"/>
    <setEntry value="org.eclipse.osgi.util*3.7.400.v20250516-0916@default:default"/>
    <setEntry value="org.eclipse.pde.api.tools.annotations@default:default"/>
    <setEntry value="org.eclipse.pde.api.tools.ui@default:default"/>
    <setEntry value="org.eclipse.pde.api.tools@default:default"/>
    <setEntry value="org.eclipse.pde.bnd.ui@default:default"/>
    <setEntry value="org.eclipse.pde.build@default:default"/>
    <setEntry value="org.eclipse.pde.core@default:default"/>
    <setEntry value="org.eclipse.pde.ds.annotations@default:default"/>
    <setEntry value="org.eclipse.pde.ds.core@default:default"/>
    <setEntry value="org.eclipse.pde.ds.ui@default:default"/>
    <setEntry value="org.eclipse.pde.genericeditor.extension@default:default"/>
    <setEntry value="org.eclipse.pde.junit.runtime@default:default"/>
    <setEntry value="org.eclipse.pde.launching@default:default"/>
    <setEntry value="org.eclipse.pde.runtime@default:default"/>
    <setEntry value="org.eclipse.pde.ui@default:default"/>
    <setEntry value="org.eclipse.pde@default:default"/>
    <setEntry value="org.eclipse.platform*4.38.0.v20251201-0920@default:default"/>
    <setEntry value="org.eclipse.rcp*4.38.0.v20251201-0920@default:default"/>
    <setEntry value="org.eclipse.sdk@default:default"/>
    <setEntry value="org.eclipse.search*3.17.400.v20251107-0917@default:default"/>
    <setEntry value="org.eclipse.search.core*3.16.600.v20250920-0652@default:default"/>
    <setEntry value="org.eclipse.swt*3.132.0.v20251124-0642@default:default"/>
    <setEntry value="org.eclipse.swt.svg@default:default"/>
    <setEntry value="org.eclipse.swt.cocoa.macosx.aarch64*3.132.0.v20251124-0642@default:false"/>
    <setEntry value="org.eclipse.team.core*3.10.900.v20251104-0924@default:default"/>
    <setEntry value="org.eclipse.team.ui*3.11.300.v20251105-1148@default:default"/>
    <setEntry value="org.eclipse.text*3.14.500.v20251103-0730@default:default"/>
    <setEntry value="org.eclipse.tm4e.core*0.17.1.202511281119@default:default"/>
    <setEntry value="org.eclipse.tm4e.languageconfiguration*0.17.1.202511281119@default:default"/>
    <setEntry value="org.eclipse.tm4e.registry*0.17.1.202511281119@default:default"/>
    <setEntry value="org.eclipse.tm4e.ui*0.17.1.202511281119@default:default"/>
    <setEntry value="org.eclipse.ui*3.207.400.v20251015-1301@default:default"/>
    <setEntry value="org.eclipse.ui.browser*3.8.700.v20251031-0712@default:default"/>
    <setEntry value="org.eclipse.ui.cheatsheets*3.8.800.v20251030-0707@default:default"/>
    <setEntry value="org.eclipse.ui.cocoa*1.3.300.v20250921-0610@default:false"/>
    <setEntry value="org.eclipse.ui.console*3.15.0.v20251113-1013@default:default"/>
    <setEntry value="org.eclipse.ui.editors*3.20.200.v20251125-0939@default:default"/>
    <setEntry value="org.eclipse.ui.externaltools*3.6.800.v20251112-1253@default:default"/>
    <setEntry value="org.eclipse.ui.forms*3.13.700.v20251009-1850@default:default"/>
    <setEntry value="org.eclipse.ui.genericeditor*1.3.800.v20250923-0523@default:default"/>
    <setEntry value="org.eclipse.ui.ide*3.22.800.v20251112-0859@default:default"/>
    <setEntry value="org.eclipse.ui.ide.application*1.5.900.v20250924-0546@default:default"/>
    <setEntry value="org.eclipse.ui.intro*3.7.700.v20250614-1220@default:default"/>
    <setEntry value="org.eclipse.ui.intro.quicklinks*1.2.500.v20250706-0633@default:default"/>
    <setEntry value="org.eclipse.ui.intro.universal*3.5.700.v20251112-1253@default:default"/>
    <setEntry value="org.eclipse.ui.navigator*3.13.300.v20250924-1052@default:default"/>
    <setEntry value="org.eclipse.ui.navigator.resources*3.9.900.v20250924-1033@default:default"/>
    <setEntry value="org.eclipse.ui.themes*1.2.2900.v20250806-1940@default:default"/>
    <setEntry value="org.eclipse.ui.views*3.12.800.v20250924-1436@default:default"/>
    <setEntry value="org.eclipse.ui.views.log*1.4.1000.v20251030-0811@default:default"/>
    <setEntry value="org.eclipse.ui.views.properties.tabbed*3.10.500.v20250924-1036@default:default"/>
    <setEntry value="org.eclipse.ui.workbench*3.137.0.v20251114-0005@default:default"/>
    <setEntry value="org.eclipse.ui.workbench.texteditor*3.19.400.v20251105-0815@default:default"/>
    <setEntry value="org.eclipse.update.configurator*3.5.900.v20251112-1253@3:true"/>
    <setEntry value="org.eclipse.wst.css.core@default:default"/>
    <setEntry value="org.eclipse.wst.html.core@default:default"/>
    <setEntry value="org.eclipse.wst.sse.core*1.2.1500.v202508302230@default:default"/>
    <setEntry value="org.eclipse.wst.xml.core*1.2.1000.v202508302152@default:default"/>
    <setEntry value="org.freemarker.freemarker@default:default"/>
    <setEntry value="org.hamcrest*3.0.0@default:default"/>
    <setEntry value="org.hibernate.common.hibernate-commons-annotations@default:default"/>
    <setEntry value="org.hibernate.orm.core@default:default"/>
    <setEntry value="org.jboss.logging.jboss-logging@default:default"/>
    <setEntry value="org.jcodings*1.0.64.v20260220-1000@default:default"/>
    <setEntry value="org.joni*2.2.7.v20260225-1000@default:default"/>
    <setEntry value="org.jsoup@default:default"/>
    <setEntry value="org.junit*4.13.2.v20240929-1000@default:default"/>
    <setEntry value="org.mortbay.jasper.apache-el@default:default"/>
    <setEntry value="org.mortbay.jasper.apache-jsp@default:default"/>
    <setEntry value="org.objectweb.asm*9.9.1@default:default"/>
    <setEntry value="org.objectweb.asm.commons*9.9.1@default:default"/>
    <setEntry value="org.objectweb.asm.tree*9.9.1@default:default"/>
    <setEntry value="org.objectweb.asm.tree.analysis*9.9.1@default:default"/>
    <setEntry value="org.objectweb.asm.util*9.9.1@default:default"/>
    <setEntry value="org.opentest4j@default:default"/>
    <setEntry value="org.osgi.service.cm@default:default"/>
    <setEntry value="org.osgi.service.component@default:default"/>
    <setEntry value="org.osgi.service.coordinator@default:default"/>
    <setEntry value="org.osgi.service.event@default:default"/>
    <setEntry value="org.osgi.service.http.whiteboard@default:default"/>
    <setEntry value="org.osgi.service.metatype@default:default"/>
    <setEntry value="org.osgi.service.prefs@default:default"/>
    <setEntry value="org.osgi.service.repository@default:default"/>
    <setEntry value="org.osgi.util.function@default:default"/>
    <setEntry value="org.osgi.util.promise@default:default"/>
    <setEntry value="org.sat4j.core@default:default"/>
    <setEntry value="org.sat4j.pb@default:default"/>
    <setEntry value="org.snakeyaml.engine*2.10.0@default:default"/>
    <setEntry value="org.tukaani.xz*1.12.0@default:default"/>
    <setEntry value="org.yaml.snakeyaml*2.6.0@default:default"/>
    <setEntry value="slf4j.api*2.0.17@default:true"/>
    <setEntry value="wrapped.com.knuddels.jtokkit*1.1.0@default:default"/>
    <setEntry value="wrapped.com.microsoft.onnxruntime.onnxruntime@default:default"/>
    <setEntry value="xstream@default:default"/>
    <setEntry value="org.eclipse.urischeme*1.3.600.v20251023-1158@default:default"/>
    <setEntry value="org.eclipse.wst.common.uriresolver@default:default"/>
    <setEntry value="wrapped.com.auth0.java-jwt@default:default"/>
    <setEntry value="wrapped.com.auth0.jwks-rsa@default:default"/>
     <setEntry value="wrapped.de.rtner.PBKDF2@default:default"/>
     <setEntry value="org.eclipse.jface.databinding*1.15.400.v20250925-0701@default:default"/>
     <setEntry value="org.eclipse.jface.notifications*0.7.500.v20250919-0627@default:default"/>
     <setEntry value="org.eclipse.wst.common.core*1.4.100.v202508180220@default:default"/>
     <setEntry value="wrapped.org.dom4j.dom4j@default:default"/>
     <setEntry value="wrapped.com.servoy.tus-java-server@default:default"/>
     <setEntry value="org.eclipse.jetty.ee8.servlet*12.1.4@default:default"/>
     <setEntry value="org.eclipse.jetty.servlet-api*4.0.9@default:default"/>
     <setEntry value="org.owasp.encoder@default:default"/>
     <setEntry value="org.eclipse.wst.css.ui@default:default"/>
     <setEntry value="org.eclipse.wst.validation*1.3.100.v202407180051@default:default"/>
     <setEntry value="org.eclipse.wst.validation.infopop@default:default"/>
     <setEntry value="org.eclipse.wst.validation.ui*1.3.100.v202405020134@default:default"/>
     <setEntry value="org.osgi.namespace.contract@default:default"/>
     <setEntry value="org.eclipse.jetty.ee8.server*12.1.4@default:default"/>
     <setEntry value="sj.jsonschemavalidation@default:default"/>
     <setEntry value="org.eclipse.wst.xml.ui*1.2.900.v202510300114@default:default"/>
     <setEntry value="org.eclipse.wst.xml.ui.infopop@default:default"/>
     <setEntry value="org.eclipse.wst.common.frameworks@default:default"/>
     <setEntry value="org.eclipse.jetty.ee8.security*12.1.4@default:default"/>
     <setEntry value="org.eclipse.jetty.io*12.1.4@default:default"/>
     <setEntry value="org.eclipse.jetty.security*12.1.4@default:default"/>
     <setEntry value="org.eclipse.jetty.server*12.1.4@default:default"/>
     <setEntry value="org.eclipse.jetty.session*12.1.4@default:default"/>
     <setEntry value="org.eclipse.jetty.util*12.1.4@default:default"/>
     <setEntry value="org.eclipse.emf.databinding@default:default"/>
     <setEntry value="org.eclipse.emf.databinding.edit@default:default"/>
     <setEntry value="org.eclipse.wst.common.emf*1.2.800.v202508180220@default:default"/>
     <setEntry value="org.eclipse.jem.util*2.2.100.v202508180220@default:default"/>
     <setEntry value="org.eclipse.wst.common.emfworkbench.integration@default:default"/>
     <setEntry value="org.eclipse.wst.common.environment@default:default"/>
     <setEntry value="org.eclipse.wst.html.ui@default:default"/>
     <setEntry value="org.eclipse.wst.server.discovery*1.3.600.v202405150145@default:default"/>
     <setEntry value="org.maven.ide.eclipse.grouplayout@default:default"/>
     <setEntry value="org.uddi4j@default:default"/>
     <setEntry value="org.eclipse.wst.common.frameworks.ui@default:default"/>
     <setEntry value="org.eclipse.wst.common.modulecore*1.3.300.v202511200154@default:default"/>
     <setEntry value="org.eclipse.wst.common.modulecore.ui@default:default"/>
     <setEntry value="org.eclipse.wst.common.project.facet.core*1.5.0.v202501090237@default:default"/>
     <setEntry value="org.eclipse.wst.common.snippets*1.3.200.v202410202228@default:default"/>
     <setEntry value="org.eclipse.wst.common.ui@default:default"/>
     <setEntry value="org.eclipse.wst.server.core@default:default"/>
     <setEntry value="org.eclipse.wst.web@default:default"/>
     <setEntry value="org.osgi.namespace.service@default:default"/>
     <setEntry value="org.osgi.service.device@default:default"/>
     <setEntry value="org.osgi.service.provisioning@default:default"/>
     <setEntry value="org.osgi.service.upnp@default:default"/>
     <setEntry value="org.osgi.service.useradmin@default:default"/>
     <setEntry value="org.osgi.service.wireadmin@default:default"/>
     <setEntry value="org.osgi.util.measurement@default:default"/>
     <setEntry value="org.osgi.util.position@default:default"/>
     <setEntry value="org.osgi.util.xml@default:default"/>
     <setEntry value="org.skyscreamer.jsonassert@default:default"/>
     <setEntry value="org.sweetlemonade.eclipse.json@default:default"/>
     <setEntry value="servoy_ngclient.tests@default:false"/>
     <setEntry value="org.eclipse.jetty.http*12.0.3@default:default"/>
     <setEntry value="org.eclipse.jetty.http*12.1.4@default:default"/>
     <setEntry value="org.osgi.namespace.extender@default:default"/>
     <setEntry value="org.eclipse.wst.sse.ui*1.7.1200.v202510300114@default:default"/>
     <setEntry value="org.eclipse.wst.sse.ui.infopop@default:default"/>
</setAttribute>
<setAttribute key="selected_workspace_bundles">
    <setEntry value="com.servoy.eclipse.developer.mcp@default:default"/>
    <setEntry value="com.servoy.eclipse.cloud@default:default"/>
    <setEntry value="com.servoy.eclipse.core@default:default"/>
    <setEntry value="com.servoy.eclipse.debug@default:default"/>
    <setEntry value="com.servoy.eclipse.designer.rfb@default:default"/>
    <setEntry value="com.servoy.eclipse.designer.wpm@default:default"/>
    <setEntry value="com.servoy.eclipse.designer@default:default"/>
    <setEntry value="com.servoy.eclipse.exporter.mobile@default:default"/>
    <setEntry value="com.servoy.eclipse.exporter.ngdesktop@default:default"/>
    <setEntry value="com.servoy.eclipse.exporter.solution@default:default"/>
    <setEntry value="com.servoy.eclipse.exporter.war@default:default"/>
    <setEntry value="com.servoy.eclipse.extension.compatibility@default:default"/>
    <setEntry value="com.servoy.eclipse.firststeps@default:default"/>
    <setEntry value="com.servoy.eclipse.jsunit@default:default"/>
    <setEntry value="com.servoy.eclipse.model.exporter.mobile@default:default"/>
    <setEntry value="com.servoy.eclipse.model@default:default"/>
    <setEntry value="com.servoy.eclipse.ngclient.ui@default:default"/>
    <setEntry value="com.servoy.eclipse.ngclient@default:default"/>
    <setEntry value="com.servoy.eclipse.nodejs.macosx.cocoa.aarch64@default:default"/>
    <setEntry value="com.servoy.eclipse.notification@default:default"/>
    <setEntry value="com.servoy.eclipse.profiler@default:default"/>
    <setEntry value="com.servoy.eclipse.servoypilot.knowledgebase@default:default"/>
    <setEntry value="com.servoy.eclipse.servoypilot.langchain4j@default:default"/>
    <setEntry value="com.servoy.eclipse.servoypilot@default:default"/>
    <setEntry value="com.servoy.eclipse.ui.tweaks@3:true"/>
    <setEntry value="com.servoy.eclipse.ui@default:default"/>
    <setEntry value="j2db_documentation@default:default"/>
    <setEntry value="j2db_log4j@default:true"/>
    <setEntry value="j2db_server@default:default"/>
    <setEntry value="org.apache.tomcat@default:default"/>
    <setEntry value="org.eclipse.dltk.annotations@default:default"/>
    <setEntry value="org.eclipse.dltk.console.ui@default:default"/>
    <setEntry value="org.eclipse.dltk.console@default:default"/>
    <setEntry value="org.eclipse.dltk.core.manipulation@default:default"/>
    <setEntry value="org.eclipse.dltk.core@default:default"/>
    <setEntry value="org.eclipse.dltk.debug.ui@default:default"/>
    <setEntry value="org.eclipse.dltk.debug@default:default"/>
    <setEntry value="org.eclipse.dltk.formatter@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.core.manipulation@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.core@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.debug.ui@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.debug@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.formatter@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.jsjdtdebugger@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.launching@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.parser@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.rhino@default:default"/>
    <setEntry value="org.eclipse.dltk.javascript.ui@default:default"/>
    <setEntry value="org.eclipse.dltk.launching@default:default"/>
    <setEntry value="org.eclipse.dltk.logconsole.ui@default:default"/>
    <setEntry value="org.eclipse.dltk.logconsole@default:default"/>
    <setEntry value="org.eclipse.dltk.testing@default:default"/>
    <setEntry value="org.eclipse.dltk.ui@default:default"/>
    <setEntry value="org.eclipse.dltk.validators.core@default:default"/>
    <setEntry value="org.eclipse.jface@default:default"/>
    <setEntry value="sablo@default:default"/>
    <setEntry value="servoy_base@default:default"/>
    <setEntry value="servoy_debug@default:default"/>
    <setEntry value="servoy_headless_client@default:default"/>
    <setEntry value="servoy_ngclient@default:default"/>
    <setEntry value="servoy_shared@default:default"/>
    <setEntry value="servoy_smart_client@default:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="false"/>
<booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
